body{
    margin: 0px;;
}

table, th, td {
    border: 1px white;
    padding: 5px;
}

.one{
    font-family: 'Work Sans';font-size: 25px;
    text-align: center;
}
.two{
    font-family: 'Work Sans';font-size: 25px;
    text-align: center;
}

tr:hover{
    background-color: #e4e4e4;
}

.mainNavigation{
    display: flex;
    flex-direction: row;
    background-color: #bec7c0;
    height: 45px;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    font-family: 'Questrial';font-size: 15px; 
    text-decoration-style: none;
}

.subMainNavigation{
    display: flex;
    background-color: #cccccc;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 108px;
    border-right: 3px white;
    justify-content: center;
    align-items: center;
    color:#5d6161;
}

.subMainNavigation > i{
    margin: 7px;
}

.subMainNavigation:hover{
    cursor: pointer;
    background-color: white;
}

.mainTable{
    width: 100%;
}

.tableContainer{
    display:flex;
    justify-content: center;
    width: 70%;
    font-family: 'Work Sans';font-size: 15px;
}

.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yellowtail';font-size: 45px;
    letter-spacing: 5px;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#trashCans{
    color:#cccccc;
    font-size: 25px;
}

#trashCans:hover{
    cursor: pointer;
    color:black;
}

#favoriteQ{
    font-size: 25px;
    color:#cccccc;
}

#favoriteQ:hover{
    cursor: pointer;
    color:#e21d41;
}

#DEfavoriteQ{
    font-size: 25px;
    color:#e21d41;
}

#DEfavoriteQ:hover{
    cursor: pointer;
    color:rgb(0, 0, 0);
}

.addQuote{
    margin-left: 10px;
    padding: 5px;
    text-align: center !important;
    border-radius: 4px;
    font-family: 'Work Sans';font-size: 15px;
}

.addQuote:hover{
    cursor: pointer;
    background-color: #cccccc;
}

.addQuote > i{
    margin-left:5px;
}

.active{
    background-color: #cccccc !important;
}


.forNew{
    font-family: 'Work Sans';font-size: 15px;
    position: absolute;
    left: 50px;
    top: 50px;
}

.button{
    font-family: 'Work Sans';font-size: 15px;
}